body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
/*  background-color: #3F2860;*/
}

ul {
/*  padding: 0;
  margin: 0;
*/
}

li {
  list-style-type: none;
}

/*h4 {
  border-bottom: 3px solid black;
  display: inline;
}
*/

#main {
  border: 4px solid black;
  width: 90%;
  position: absolute;
  margin: 4% 6% 5% 4%;
  background-color: ##FFFFFF;
}

/*#home_container {
  font-size: 1em;
  line-height: 1.2em;
  margin-left: 12%;
  font-color: #57068c
}
*/

/*main {
  font-size: 1em;
  line-height: 1.2em;

}
*/
