body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  background-color: #DDDAD6;
  padding: 4% 4% 4% 4%;
  word-wrap: break-word;
}

li {
  list-style-type: none;
}

#main {
  border: 4px solid black;
/*  width: 90%;*/
  position: relative;
/*  margin: 4% 6% 5% 4%;*/
  padding: 4% 8% 4% 4%;
  background-color: #EFEFEF;
}

#greeting {
  color: #493D26;
  background-color: #90C5A9;
  margin-right: -4%;
  text-align: center;
}

#message {
  color: #493D26;
}

#id_question_text {
  vertical-align: top;
  width: 80%;
  height: 8em;
}

#id_question_tag {
  vertical-align: top;
  width: 80%;
  height: 8em;
}

#id_answer_text {
  vertical-align: top;
  width: 80%;
  height: 16em;
}

label {
  display:block;
  float:left;
  width: 12%;
}

.errorlist {
  color: red;
}
