<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
    <title>Nikita Final Project</title>
  </head>
  <body>
    <p>
      <a href="/questions"><b>Home</b></a>
    </p>
  {% if context.user.email %}
    <p>
      Hello {{ context.user.email }}!
      (You can <a href="{{ context.logout_url }}"><b>sign out</b></a> here)
    </p>
  {% endif %}
  <p>Welcome to the Open Source Tools discussion forum!</p>
  {% if answer_id %}
    <p><b><u>Edit answer:</u></b></p>
    <form action="/questions/edit_answer/{{ answer_id }}" method="POST">
  {% else %}
    <p><b><u>Add answer:</u></b></p>
    <form action="/questions/add_answer/{{ question.key.id }}" method="POST">
  {% endif %}
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" />
    </form>
  </body>
</html>
