<html>
  <body>
    <p>
      <a href="/questions"><b>Home</b></a>
    </p>
  {% if context.user.email %}
    <p>
      Hello {{ context.user.email }}!
      (You can <a href="{{ context.logout_url }}"><b>sign out</b></a> here)
    </p>
  {% else %}
    <p>
      {% if context.login_url %}
        <a href="{{ context.login_url }}"><b>Sign in or register</b></a> to access this feature.
      {% else %}
        <a href="{{ login_url }}"><b>Sign in or register</b></a> to access this feature.
      {% endif %}
      </p>
  {% endif %}
    <p>Welcome to the Open Source Tools discussion forum!</p>
    <p><b><u>Question:</u></b></p>
    <ul>
      <li>{{ question.question_text|safe }}</li>
      <li><b>Author:</b> {{ question.created_by }}, <b>Created:</b> {{ question.date_created }}, <b>Modified:</b> {{ question.date_modified }}</li>
      <li>
      {% if question.total_votes == 0 %}
        [<b>Votes: </b>{{ question.total_votes }}]
      {% elif question.total_votes > 0 %}
        [<b>Votes: </b>+{{ question.total_votes }}]
      {% else %}
        [<b>Votes: </b>-{{ question.total_votes }}]
      {% endif %}
        [<a href="/questions/question_vote_up/{{ question.key.id }}">Up</a>]
        [<a href="/questions/question_vote_down/{{ question.key.id }}">Down</a>]
      </li>
    </ul>
    <p><b><u>Answers:</u></b></p>
    {% if not count %}
      <p>There are currently no answers for this question.</p>
    {% else %}
    {% endif %}
    {% for answer in answers %}
    <ul>
      <li>{{ answer.answer_text|safe }}</li>
      <li><b>Author:</b> {{ answer.created_by }}, <b>Created:</b> {{ answer.date_created }}, <b>Modified:</b> {{ answer.date_modified }}</li>
      <li>
      {% if answer.total_votes == 0 %}
        [<b>Votes: </b>{{ answer.total_votes }}]
      {% elif answer.total_votes > 0 %}
        [<b>Votes: </b>+{{ answer.total_votes }}]
      {% else %}
        [<b>Votes: </b>-{{ answer.total_votes }}]
      {% endif %}
        [<a href="/questions/answer_vote_up/{{ answer.key.id }}">Up</a>]
        [<a href="/questions/answer_vote_down/{{ answer.key.id }}">Down</a>]
        {% if context.user.email == answer.created_by.email %}
          [<a href="/questions/edit_answer/{{ answer.key.id }}">Edit</a>]</li>
        {% endif %}
      </li>
    </ul>
    {% endfor %}
    <p>[<a href="/questions/add_answer/{{ question.key.id }}">Add answer</a>]</p>
  </body>
</html>
