<html>
  <body>
    <p>
      <a href="/questions"><b>Home</b></a>
    </p>
  {% if context.user.email %}
    <p>
      Hello {{ context.user.email }}!
      (You can <a href="{{ context.logout_url }}"><b>sign out</b></a> here)
    </p>
  {% else %}
    <p>
      {% if context.login_url %}
        <a href="{{ context.login_url }}"><b>Sign in or register</b></a> to access this feature.
      {% else %}
        <a href="{{ login_url }}"><b>Sign in or register</b></a> to access this feature.
      {% endif %}
      </p>
  {% endif %}
    <p>Welcome to the Open Source Tools discussion forum!</p>
    <p><b><u>Question:</u></b></p>
<!--    {% if not count %}
      <p>There are currently no questions in the system.</p>
    {% else %}
      <p>Questions in the system:</p>
    {% endif %}-->
    <ul>
      <li>{{ question.key.id }}, {{ question.created_by.email }}, {{ question.date_created }}, {{ question.date_modified }}, {{ question.question_text }}
      {% if question.total_votes == 0 %}
        [{{ question.total_votes }}]
      {% elif question.total_votes > 0 %}
        [+{{ question.total_votes }}]
      {% else %}
        [-{{ question.total_votes }}]
      {% endif %}
        [<a href="/questions/question_vote_up/{{ question.key.id }}">Up</a>]
        [<a href="/questions/question_vote_down/{{ question.key.id }}">Down</a>]
<!--        [<a href="/questions/edit_question/{{ question.key.id }}">Edit</a>]</li>-->
    </ul>
    <p><b><u>Answers:</u></b></p>
    {% for answer in all_answers %}
    <ul>
      <li>{{ answer.key.id }}, {{ answer.created_by.email }}, {{ answer.date_created }}, {{ answer.date_modified }}, {{ answer.answer_text }}
      {% if answer.total_votes == 0 %}
        [{{ answer.total_votes }}]
      {% elif answer.total_votes > 0 %}
        [+{{ answer.total_votes }}]
      {% else %}
        [-{{ answer.total_votes }}]
      {% endif %}
        [<a href="/questions/answer_vote_up/{{ answer.key.id }}">Up</a>]
        [<a href="/questions/answer_vote_down/{{ answer.key.id }}">Down</a>]
        {% if context.user.email == answer.created_by.email %}
          [<a href="/questions/edit_answer/{{ answer.key.id }}">Edit</a>]</li>
        {% endif %}
    </ul>
    {% endfor %}
    <p>[<a href="/questions/add_answer/{{ question.key.id }}">Add answer</a>]</p>
  </body>
</html>
