<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
    <title>Nikita Final Project</title>
  </head>
  <body>
  <div id="main">
    <h1>
      <a href="/questions">Home</a>
    </h1>
  <div id="greeting">
  {% if context.user.email %}
    <h3>
      Hello {{ context.user.email }}!
      (You can <a href="{{ context.logout_url }}">sign out</a> here)
    </h3>
  {% else %}
    <h3>
      Hello!
      (You can <a href="{{ context.login_url }}">sign in</a> here)
    </h3>
  {% endif %}
    <h3>Welcome to the Open Source Tools discussion forum!</h3>
  </div>
    <h2><u>Questions:</u></h2>
    {% if not count %}
      <h3>There are currently no questions in the system.</h3>
    {% endif %}

    <ul>
    {% for question in question_pages %}
      <li>{{ question.short_question }}</li>
      <li><b>Author:</b> {{ question.created_by }}, <b>Created:</b> {{ question.date_created }}, <b>Modified:</b> {{ question.date_modified }}</li>
      <li>[<a href="/questions/{{ question.key.id }}">Permalink</a>]
      {% if context.user.email == question.created_by.email %}
        [<a href="/questions/rss_feed/{{ question.key.id }}">RSS Link</a>] [<a href="/questions/edit_question/{{ question.key.id }}">Edit</a>]</li>
      {% else %}
        [<a href="/questions/rss_feed/{{ question.key.id }}">RSS Link</a>]</li>
      {% endif %}
      <br/>
    {% endfor %}
    <div class="pagination">
      <span class="step-links">
      {% if question_pages.has_previous %}
        <a href="?page={{ question_pages.previous_page_number }}">Previous</a>
      {% endif %}
      {% if question_pages %}
        <span class="current">
          [Page {{ question_pages.number }} of {{ question_pages.paginator.num_pages }}]
        </span>
      {% endif %}
      {% if question_pages.has_next %}
        <a href="?page={{ question_pages.next_page_number }}">Next</a>
      {% endif %}
      </span>
    </div>
    </ul>

    <h3>[<a href="/questions/add_question">Add question</a>]</h3>
    <h2><u>Tags:</u></h2>
    {% if not tags %}
      <h3>There are currently no tags in the system.</h3>
    {% endif %}
    <ul>
    {% for tag in tags %}
        {% if tag != "" or tag != " " %}
          <li><a href="/questions/tag_questions/{{ tag }}">{{ tag }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>

    <h2><u>Images:</u></h2>
    {% if not image_count %}
      <h3>There are currently no images in the system.</h3>
    {% endif %}
    <ul>
    {% for image in images %}
      <li><a href="/questions/retrieve_image/{{ image.key.id }}">{{ image.name }}</a></li>
    {% endfor %}
    </ul>
    <form enctype="multipart/form-data" action="/questions/upload_image" method="POST">
      <input type="file" name="image" required="True">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Upload Image">
    </form>
  </div>
  </body>
</html>
