<html>
  <body>
    <p>
      <a href="/questions">Home</a>
    </p>
  {% if context.user.email %}
    <p>
      Hello {{ context.user.email }}!
      (You can <a href="{{ context.logout_url }}">sign out</a> here)
    </p>
  {% else %}
    <p>
      Hello!
      (You can <a href="{{ context.login_url }}">sign in</a> here)
    </p>
  {% endif %}
    <p>Welcome to the question answer forum!</p>
    {% if not count %}
      <p>There are currently no questions in the system.</p>
    {% else %}
      <p><b><u>Questions:</u></b></p>
    {% endif %}

    <ul>
    {% for question in question_pages %}
      <li><a href="/questions/{{ question.key.id }}">Permalink</a>, {{ question.created_by.email }}, {{ question.date_created }}, {{ question.date_modified }}, {{ question.short_question }}
      {% if context.user.email == question.created_by.email %}
        [<a href="/questions/edit_question/{{ question.key.id }}">Edit</a>] [<a href="/questions/rss_feed/{{ question.key.id }}">RSS Link</a>]</li>
      {% else %}
        [<a href="/questions/rss_feed/{{ question.key.id }}">RSS Link</a>]</li>
      {% endif %}
    {% endfor %}
    <div class="pagination">
      <span class="step-links">
      {% if question_pages.has_previous %}
        <a href="?page={{ question_pages.previous_page_number }}">previous</a>
      {% endif %}
      {% if question_pages %}
        <br/>
        <span class="current">
          Page {{ question_pages.number }} of {{ question_pages.paginator.num_pages }}
        </span>
      {% endif %}
      {% if question_pages.has_next %}
        <a href="?page={{ question_pages.next_page_number }}">next</a>
      {% endif %}
      </span>
    </div>
    </ul>

    <p>[<a href="/questions/add_question">add question</a>]</p>
    <p><b><u>Tags:</u></b></p>
    {% if not tags %}
      <p>There are currently no tags in the system.</p>
    {% endif %}
    <ul>
    {% for tag in tags %}
        {% if tag != "" or tag != " " %}
          <li><a href="/questions/tag_questions/{{ tag }}">{{ tag }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>

    <p><b><u>Images:</u></b></p>
    <ul>
    {% for image in images %}
      <li><a href="/questions/retrieve_image/{{ image.key.id }}">{{ image.key.id }}</a></li>
    {% endfor %}
    </ul>
    <form enctype="multipart/form-data" action="/questions/upload_image" method="POST">
      <input type="file" name="image" required="True">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Upload Image">
    </form>
  </body>
</html>
