<html>
  <body>
  {% if user %}
    <p>
      Welcome, {{ context.user.email }}!
      You can <a href="{{ context.logout_url }}">sign out</a>.
    </p>
  {% endif %}
    <p>Welcome to the question answer forum!</p>
    <p>Questions in our system:</p>
    <ul>
    {% for question in questions %}
      <li>{{ question.title }}, by {{ question.author }} ({{ question.copyright_year }})
      [<a href="/questions/edit_question/{{ question.key.id }}">edit</a>]</li>
    {% endfor %}
    </ul>
    <p>[<a href="/questions/add_question">add a question</a>]</p>
  </body>
</html>
