<html>
  <head>
    <title>The Time Is...</title>
  </head>
  <body>
  {% if user %}
    <p>
      Welcome, {{ context.user.email }}!
      You can <a href="{{ context.logout_url }}">sign out</a>.
    </p>
  {% else %}
    <p>
      Welcome!
      {% if context.login_url %}
        <a href="{{ context.login_url }}">Sign in or register</a> to customize.
      {% else %}
        <a href="{{ login_url }}">Sign in or register</a> to customize.
      {% endif %}
      </p>
  {% endif %}
  </body>
</html>
