<html>
  <body>
    <p>
      <a href="/questions">Home</a>
    </p>
  {% if context.user.email %}
    <p>
      Hello {{ context.user.email }}!
      (You can <a href="{{ context.logout_url }}">sign out</a> here)
    </p>
  {% else %}
    <p>
      {% if context.login_url %}
        <a href="{{ context.login_url }}">Sign in or register</a> to access this feature.
      {% else %}
        <a href="{{ login_url }}">Sign in or register</a> to access this feature.
      {% endif %}
      </p>
  {% endif %}
    <p>Welcome to the question answer forum!</p>
    {% if not questions %}
      <p>There are currently no questions in the system.</p>
    {% else %}
      <p>Questions in the system:</p>
    {% endif %}
    <ul>
    {% for question in questions %}
      <li>{{ question.created_by.email }}, {{ question.date_created }}, {{ question.date_modified }}, {{ question.short_question }}
      [<a href="/questions/edit_question/{{ question.key.id }}">edit</a>]</li>
    {% endfor %}
    </ul>
    <p>[<a href="/questions/add_question">add a question</a>]</p>
  </body>
</html>
