<html>
  <body>
  {% if user %}
    <p>
      Welcome, {{ context.user.email }}!
      You can <a href="{{ context.logout_url }}">sign out</a>.
    </p>
  {% endif %}
  {% if question_id %}
    <p>Edit question {{ question_id }}:</p>
    <form action="/questions/edit_question/{{ question_id }}" method="POST">
  {% else %}
    <p>Create question:</p>
    <form action="/questions/add_question" method="POST">
  {% endif %}
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" />
    </form>
  </body>
</html>
