<html>
  <body>
    <p>
      <a href="/questions"><b>Home</b></a>
    </p>
  {% if context.user.email %}
    <p>
      Hello {{ context.user.email }}!
      (You can <a href="{{ context.logout_url }}"><b>sign out</b></a> here)
    </p>
  {% endif %}
  {% if question_id %}
    <p><b><u>Edit question:</u></b></p>
    <form action="/questions/edit_question/{{ question_id }}" method="POST">
  {% else %}
    <p><b><u>Add question:</u></b></p>
    <form action="/questions/add_question" method="POST">
  {% endif %}
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" />
    </form>
  </body>
</html>
