<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
    <title>Nikita Final Project</title>
  </head>
  <body>
  <div id="main">
    <h1>
      <a href="/questions">Home</a>
    </h1>
  {% if context.user.email %}
    <h3>
      Hello {{ context.user.email }}!
      (You can <a href="{{ context.logout_url }}">sign out</a> here)
    </h3>
  {% endif %}
  <h3>Welcome to the Open Source Tools discussion forum!</h3>
  {% if question_id %}
    <p><b><u>Edit question:</u></b></p>
    <form action="/questions/edit_question/{{ question_id }}" method="POST">
  {% else %}
    <p><b><u>Add question:</u></b></p>
    <form action="/questions/add_question" method="POST">
  {% endif %}
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" />
    </form>
  </div>
  </body>
</html>
