<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
    <title>Nikita Final Project</title>
  </head>
  <body>
  <div id="main">
    <h1>
      <a href="/questions">Home</a>
    </h1>
  <div id="greeting">
  {% if context.user.email %}
    <h3>
      Hello {{ context.user.email }}!
      (You can <a href="{{ context.logout_url }}">sign out</a> here)
    </h3>
  {% else %}
    <h3>
      Hello!
      (You can <a href="{{ context.login_url }}">sign in</a> here)
    </h3>
  {% endif %}
    <h3>Welcome to the Open Source Tools discussion forum!</h3>
  </div>
    <h2><u>Question:</u></h2>
    <ul>
      <li>{{ question.question_text|safe }}</li>
      <li><b>Author:</b> {{ question.created_by }}</li>
      <li><b>Created:</b> {{ question.date_created }}, <b>Modified:</b> {{ question.date_modified }}</li>
      <li>
      {% if question.total_votes == 0 %}
        [<b>Votes: </b>{{ question.total_votes }}]
      {% elif question.total_votes > 0 %}
        [<b>Votes: </b>+{{ question.total_votes }}]
      {% else %}
        [<b>Votes: </b>-{{ question.total_votes }}]
      {% endif %}
        [<a href="/questions/question_vote_up/{{ question.key.id }}">Up</a>]
        [<a href="/questions/question_vote_down/{{ question.key.id }}">Down</a>]
      </li>
    </ul>
    <h2><u>Answers:</u></h2>
    {% if not count %}
      <h3>There are currently no answers for this question.</h3>
    {% endif %}
    <ul>
    {% for answer in answers %}
      <li>{{ answer.answer_text|safe }}</li>
      <li><b>Author:</b> {{ answer.created_by }}</li>
      <li><b>Created:</b> {{ answer.date_created }}, <b>Modified:</b> {{ answer.date_modified }}</li>
      <li>
      {% if answer.total_votes == 0 %}
        [<b>Votes: </b>{{ answer.total_votes }}]
      {% elif answer.total_votes > 0 %}
        [<b>Votes: </b>+{{ answer.total_votes }}]
      {% else %}
        [<b>Votes: </b>-{{ answer.total_votes }}]
      {% endif %}
        [<a href="/questions/answer_vote_up/{{ answer.key.id }}">Up</a>]
        [<a href="/questions/answer_vote_down/{{ answer.key.id }}">Down</a>]
        {% if context.user.email == answer.created_by.email %}
          [<a href="/questions/edit_answer/{{ answer.key.id }}">Edit</a>]
        {% endif %}
      </li>
      <hr>
      <br/>
    {% endfor %}
    </ul>
    <h3>[<a href="/questions/add_answer/{{ question.key.id }}">Add answer</a>]</h3>
  </div>
  </body>
</html>
