<html>
  <body>
    <p>
      <a href="/questions">Home</a>
    </p>
  {% if context.user.email %}
    <p>
      Hello {{ context.user.email }}!
      (You can <a href="{{ context.logout_url }}">sign out</a> here)
    </p>
  {% endif %}
    <p>Welcome to the question answer forum!</p>
    <p>Question:</p>
    <ul>
      <li>{{ question.key.id }}, {{ question.created_by.email }}, {{ question.date_created }}, {{ question.date_modified }}, {{ question.question_text }}
      {% if question.total_votes == 0 %}
        [{{ question.total_votes }}]
      {% elif question.total_votes > 0 %}
        [+{{ question.total_votes }}]
      {% else %}
        [-{{ question.total_votes }}]
      {% endif %}
        [<a href="/questions/question_vote_up/{{ question.key.id }}">Up</a>]
        [<a href="/questions/question_vote_down/{{ question.key.id }}">Down</a>]
<!--        [<a href="/questions/edit_question/{{ question.key.id }}">Edit</a>]</li>-->
    </ul>
    {% if not count %}
      <p>There are currently no answers for this question.</p>
    {% else %}
      <p>Answers for the question:</p>
    {% endif %}
    {% for answer in answers %}
    <ul>
      <li>{{ answer.key.id }}, {{ answer.created_by.email }}, {{ answer.date_created }}, {{ answer.date_modified }}, {{ answer.answer_text }}
      {% if answer.total_votes == 0 %}
        [{{ answer.total_votes }}]
      {% elif answer.total_votes > 0 %}
        [+{{ answer.total_votes }}]
      {% else %}
        [-{{ answer.total_votes }}]
      {% endif %}
        [<a href="/questions/answer_vote_up/{{ answer.key.id }}">Up</a>]
        [<a href="/questions/answer_vote_down/{{ answer.key.id }}">Down</a>]
        [<a href="/questions/edit_answer/{{ answer.key.id }}">Edit</a>]</li>
    </ul>
    {% endfor %}
    <p>[<a href="/questions/add_answer/{{ question.key.id }}">add answer</a>]</p>
  </body>
</html>
