<html>
  <body>
    <p>
      <a href="/questions">Home</a>
    </p>
  {% if context.user.email %}
    <p>
      Hello {{ context.user.email }}!
      (You can <a href="{{ context.logout_url }}">sign out</a> here)
    </p>
  {% endif %}
    <p>Welcome to the question answer forum!</p>
    {% if not count %}
      <p>There are currently no questions in the system.</p>
    {% else %}
      <p>Questions in the system:</p>
    {% endif %}
    <ul>
      <li><a href="/questions/answers/{{ question.key.id }}">{{ question.key.id }}</a>, {{ question.created_by.email }}, {{ question.date_created }}, {{ question.date_modified }}, {{ question.short_question }}
      [<a href="/questions/edit_question/{{ question.key.id }}">edit</a>]</li>
    </ul>
    {% for answer in answers %}
    <ul>{{ answer.answer_text }}
    </ul>
    {% endfor %}
    <p>[<a href="/questions/add_question">add question</a>]</p>
  </body>
</html>
